<div class="dashboard-container">
  <header class="dashboard-header">
    <div class="logo-area">
      <div class="title-text">

        @if (PortalUserService.isAdmin()) {
          <h1>Bus Manager <span class="version">v1.0</span></h1>
          <p>Sistema Gestionale Trasporti</p>
        }
        @else {
          <h1>Brianza<strong class="different">Bus</strong></h1>
        }
      </div>
    </div>

    @if (PortalUserService.isAdmin()) {
      <p>Benvenuto nel pannello di controllo della linea trasporti.</p>
    }
    @else {
      <p>Benvenuto sulla pagina della linea trasporti.</p>
    }
  </header>

  @if (PortalUserService.isAdmin()) {
    <div class="stats-bar">

      <div class="stat-banner">
        <span class="stat-number">{{ activeLinesCount }}</span>
        <span class="stat-label">Linee Attive</span>
      </div>

      <div class="stat-banner">
        <span class="stat-number">{{ totalStopsCount }}</span>
        <span class="stat-label">Fermate Totali</span>
      </div>

      <div class="stat-banner">
        <span class="stat-number">{{ driversCount }}</span>
        <span class="stat-label">Autisti in Servizio</span>
      </div>

    </div>
  }

  <div class="menu-grid">
    <div class="menu-card" routerLink="/lines">
      <div class="card-icon">🚌</div>
      @if (PortalUserService.isAdmin()) {
        <h3>Gestione Linee</h3>
        <p>Visualizza, modifica o crea nuove linee e percorsi.</p>
      }
      @else {
        <h3>Visualizza Linee</h3>
      }


      <button class="btn-go">Entra →</button>
    </div>

    @if (PortalUserService.isAdmin()) {
      <div class="menu-card" routerLink="/trips">
        <div class="card-icon">➕</div>
        <h3>Nuova Corsa</h3>
        <p>Aggiungi una nuova corsa.</p>
        <button class="btn-go">Entra →</button>
      </div>
    }

    <div class="menu-card danger" routerLink="/Findtrips">
      <div class="card-icon">🔍</div>
      @if (PortalUserService.isAdmin()) {
        <h3>Cerca Corse</h3>
        <p>Cerca le corse più recenti.</p>
      }
      @else {
        <h3>Cerca corse recenti</h3>
      }
      <button class="btn-go">Entra →</button>
    </div>
  </div>
</div>
